.box1 {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.box2 {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    outline: 10px solid black;
}

.box3 {
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 10px;
    outline: 10px solid blue;
}

.box4 {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 10px;
    outline: 10px solid red;
}

.box5 {
    background-color: purple;
    width: 100px;
    height: 100px;
    margin: 10px;
    outline: 10px solid orange;
}

.box6 {
    background-color: orange;
    width: 100px;
    height: 100px;
    margin: 10px;
    outline: 10px solid green;
}












